name: Check
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v5

            - name: "Set up Python"
              uses: actions/setup-python@v5
              with:
                  python-version-file: "pyproject.toml"

            - name: Install edgee
              uses: edgee-cloud/install-edgee-cli@v0.1.0

            - name: Build component
              run: |
                  edgee components build

            - name: Verify .wasm file exists
              run: |
                  if [ ! -f "./dc_component.wasm" ]; then
                    echo "âŒ Error: dc_component.wasm not found" >&2
                    exit 1
                  fi

            - name: Test component
              run: |
                  make test
